<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}lastboard{% endblock %}</title>

        <link rel="stylesheet" href="/resources/quattro.css">
        <link rel="stylesheet" href="/resources/main.css">

        <meta name="viewport" content="width=device-width,initial-scale=1" />
        {% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
