{% extends "base.html.jinja" %}
{% block title %}lastboard home{% endblock %}
{% block content %}
    <header>
        <h1>lastboard</h1>
    </header>

    <section>
    <h1>Pending review</h1>
    <ul>
        {%- for item in pending %}
        <li><a href="{{ item.page_url }}">{{ item.artist }} - <strong>{{ item.title }}</strong></a></li>
        {% endfor -%}
    </ul>
    </section>
    <section>
    <h1>Has been reviewed</h1>
    <ul>
        {%- for item in reviewed %}
        <li><a href="{{ item.page_url }}">{{ item.artist }} - <strong>{{ item.title }}</strong></a></li>
        {% endfor -%}
    </ul>
    </section>
{% endblock %}
