{% extends "base.html.jinja" %}
{% block title %}lastboard home{% endblock %}
{% block content %}
    <header>
        <h1>lastboard</h1>
    </header>

    <section>
    <h1>Pending review</h1>
    <ul>
        {%- for item in pending %}
        <li>
            <a href="{{ item.slug_page }}">{{ item.artist }} - <strong>{{ item.title }}</strong></a>
            {% if item.listens is not none %}
            ({{ item.listens }} listen(s))
            {% endif %}
        </li>
        {% endfor -%}
    </ul>
    </section>
    <section>
    <h1>Has been reviewed</h1>
    <ul>
        {%- for item in reviewed %}
        <li><a href="{{ item.slug_page }}">{{ item.artist }} - <strong>{{ item.title }}</strong></a></li>
        {% endfor -%}
    </ul>
    </section>
{% endblock %}
